<div class="outmost-container">
  <div class="header">
    <div class="switch-view">
      <button
        [ngClass]="view === 'column' ? 'active' : 'inactive'"
        (click)="view = 'column'"
      >
        Column view
      </button>
      <button
        [ngClass]="view === 'grid' ? 'active' : 'inactive'"
        (click)="view = 'grid'"
      >
        Grid View
      </button>
    </div>
    <div>
      <button class="add-row" (click)="onAddRowClick()">Add row</button>
    </div>
  </div>
  <app-users-table-view
    *ngIf="view === 'grid'"
    [data]="data$ | async"
    [updateTableResponseEE]="updateTableResponseEE"
    (tableEventEE)="handleTableEvent($event)"
  ></app-users-table-view>
  <app-users-column-view
    *ngIf="view === 'column'"
    [data]="data$ | async"
  ></app-users-column-view>
  <app-info-dialog
    *ngIf="dialog.open"
    [data]="dialog.data"
    (changesSavedEE)="onChangesSaved($event)"
    (removedRowEE)="onRemovedRow()"
    (hideDialogEE)="onHideDialog()"
  ></app-info-dialog>
</div>
