.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  & > app-card {
    margin-bottom: 20px;
  }
}

.title {
  span {
    font-size: 22px;
    font-weight: 700px;
  }

  margin: 16px 0;
}

.search-bar {
  width: 99%;
  height: 28px;
  margin-bottom: 15px;
}
