$primary-green: #009973;
$primary-grey: #e6e6e6;
$primary-dark-blue: #2d4848;
$medium-blue: #0059b3;
$medium-grey: #5c5c5c;
$primary-purple: #6600cc;
$primary-orange: #cc7a00;

$secondary-purple: #b59dcd;
$secondary-orange: #dfccaf;
$secondary-blue: #98aec3;
$secondary-green: #99c1b6;
