<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-title">
      <span>{{ data.type === DialogTypeSave ? "Add row" : "Remove row" }}</span>
    </div>
    <div class="fields-section">
      <!-- <ng-container *ngIf="data.type === DialogTypeSave">
        <div *ngFor=""></div>
      </ng-container> -->
      <form [formGroup]="form">
        <p>
          <label>Name</label>
          <input type="text" formControlName="name" />
        </p>
        <p>
          <label>E-mail</label>
          <input type="text" formControlName="email" />
        </p>
        <p>
          <label for="department">Department</label>
          <select name="department" type="text" formControlName="department">
            <option [value]="this.form.get('department')?.value">
              {{ this.form.get("department")?.value }}
            </option>
            <ng-container *ngFor="let d of departments">
              <option
                *ngIf="d !== this.form.get('department')!.value"
                [value]="this.form.get('department')?.value"
              >
                {{ d }}
              </option>
            </ng-container>
          </select>
        </p>
        <!-- form.valid -->
      </form>
    </div>
    <div class="bottom-section">
      <button
        class="custom-button secondary-button"
        (click)="onCancelButtonClick()"
      >
        <span> cancel </span>
      </button>
      <button
        [ngClass]="
          data.type === DialogTypeSave ? 'save-button' : 'warning-button'
        "
        class="custom-button"
        (click)="onConfirmButtonClick()"
      >
        <span> {{ data.type === DialogTypeSave ? "save" : "remove" }}</span>
      </button>
    </div>
  </div>
</div>
