@import "../../../../styles/colors.scss";

@mixin highlight-row {
  background-color: $primary-grey;
}

table {
  z-index: 1;
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  td,
  th {
    text-align: left;
    padding: 8px;
    border-right: 0.5px darkgrey solid;
  }

  th {
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: $primary-dark-blue;
    &:first-of-type {
      border-left: 0.5px solid #2d4848;
    }
    &:last-of-type {
      border-right: 0.5px #2d4848 solid;
    }
    color: white;
  }

  tr {
    height: 56px;
    background-color: white;
    border-bottom: 0.5px darkgrey solid;
    td {
      height: 56px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-of-type {
        display: flex;
        justify-content: center;
      }
      &:first-of-type {
        border-left: 0.5px solid darkgrey;
      }
    }
    &:hover {
      @include highlight-row;
    }
  }

  .department-dropdown {
    background: white;
    border-width: 1px;
    border-radius: 2px;
  }

  .action-button {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
  }

  .confirm-button {
    &:disabled {
      cursor: not-allowed;
    }
  }

  .selected-row {
    @include highlight-row;
  }

  input {
    width: 96%;
    height: 36px;
    outline-width: 0;
    border-style: solid;
    border-color: $medium-grey;
    border-spacing: 0;
    border-width: 1px;
  }

  select {
    height: 39px;
    border-radius: 0;
    width: 100%;
    outline-width: 0;
    border-style: solid;
    border-color: $medium-grey;
    border-width: 1px;
  }

  input:focus,
  select:focus {
    border-width: 2px;
  }

  input.valid-field-border {
    border-color: $primary-green;
  }

  input.invalid-field-border {
    border-color: $primary-red;
  }

  select.valid-field-border {
    border-color: $primary-green;
  }

  select.invalid-field-border {
    border-color: $primary-red;
  }
}
