<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-title">
      <span>{{ data.type === DialogTypeSave ? "Add row" : "Remove row" }}</span>
    </div>
    <div class="fields-section">
      <!-- <ng-container *ngIf="data.type === DialogTypeSave">
        <div *ngFor=""></div>
      </ng-container> -->
      <form [formGroup]="form">
        <p>
          <label for="name">Name</label>
          <input type="text" name="name" formControlName="name" />
        </p>
        <p>
          <label for="email">E-mail</label>
          <input type="text" name="email" formControlName="email" />
        </p>
        <p>
          <label for="department">Department</label>
          <ng-container *ngIf="data.type === DialogTypeRemove">
            <input name="department" type="text" formControlName="department" />
          </ng-container>

          <ng-container *ngIf="data.type === DialogTypeSave">
            <select name="department" formControlName="department">
              <option *ngFor="let d of departments" [value]="d">
                {{ d }}
              </option>
            </select>
          </ng-container>
        </p>
      </form>
    </div>
    <div class="bottom-section">
      <button
        class="custom-button secondary-button"
        (click)="onCancelButtonClick()"
      >
        <span> cancel </span>
      </button>
      <button
        [ngClass]="
          data.type === DialogTypeSave ? 'save-button' : 'warning-button'
        "
        class="custom-button"
        (click)="onConfirmButtonClick()"
        [disabled]="data.type === DialogTypeSave ? !form.valid : false"
      >
        <span> {{ data.type === DialogTypeSave ? "save" : "remove" }}</span>
      </button>
    </div>
  </div>
</div>
