@import "./colors.scss";
$button-border-radius-value: 25px;
$button-padding: 10px 20px;

.active {
  background-color: $primary-green;
}

.inactive {
  background-color: $primary-grey;
}

.custom-button {
  cursor: pointer;
  border: none;
  border-radius: $button-border-radius-value;
  padding: $button-padding;
  text-transform: uppercase;
}

.warning-button {
  background-color: darkred;
  color: white;
}

.save-button {
  background-color: darkgreen;
  color: white;
}

.secondary-button {
  background-color: transparent;
  color: #636262;
}
